.aboutRoot {
  padding-left: 70px;
  padding-right: 70px;
}

.titleBox {
  margin: 0px;
  padding: 0px;
  margin-bottom: 40px;
}

.title {
  margin: 0px;
  padding: 0px;
  font-size: 57px;
}

.partition {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.imgBox {
  width: 514px;
  height: 685px;
  margin-left: 30px;
  margin-bottom: 25px;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.part {
  flex: 0.5;
  display: flex;
  flex-direction: column;
}

.paragraph {
  margin: 0px;
  padding: 0px;
  font-size: 23px;
}

.spacer {
  height: 75px;
}

.aboutSections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  margin-top: 35px;
}
